.row{
    display: flex;
    align-items: baseline;
}

.row h2{
    margin: 0;
    margin-right: 10px;
}

.row p{
    margin: 10px;
}

.deleteBtn{
    background-color: red;
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}